:root{
    --COR-FUNDO: #01080E;
    --COR-PRINCIPAL: #0B0D20 ;
    --COR-SEGUNDARIA: #2BDEFD;
    --COR-DESTAQUE: #;
    --COR-TEXTO: #D7F9FF;

}

BODY{
    BACKGROUND-COLOR: VAR(--COR-FUNDO);
    COLOR: VAR(--COR-TEXTO);
    DISPLAY: FLEX;
    JUSTIFY-CONTENT: CENTER;
    ALIGN-ITEMS: CENTER;
    MIN-HEIGHT: 100VH;
}

.CAIXA-PRINCIPAL{
    background-color: var(--COR-PRINCIPAL);
    WIDTH: 90%;
    MAX-WIDTH: 600PX;
    TEXT-ALIGN: CENTER;
    padding: 20xp;
}

h1{
    color: var(--COR-DESTAQUE--);
}

button{
    background-color: var(--cor-secundaria);
    color: var(--COR-TEXTO);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: backgroud-color 0.3s;
}

button:hover{
    background-color: var(--cor--destaque);
    color: var(--cor--principal);
}